@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular.eot');
    src: url('../fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-regular.woff') format('woff'),
         url('../fonts/raleway/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, html{
    font-family: ralewayregular;
    font-size: 13px;
    background:url('../img/body_bg.png') 0 0 transparent repeat;
    min-height:100%;
}
body{
    position:relative;
}
/* bootstrap overloading */
h1{
    margin-top:0px;
    font-size: 28px;
    line-height: 28px;
}
h4 span.glyphicon{
    font-size:14px;
}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
    color:#005A64;
    border-color:#005A64;
}
/* no js specific classes */
.dropdown-menu.force-show-nojs{
    position: static;
    float: none !important;
    display: block;
}
.tab-content > .tab-pane.force-show-nojs{
    display:block;
}
/* custom buttons */
.minus-btn,
.plus-btn{
    background: url('../img/sprite.png') -97px -41px rgba(0, 0, 0, 0) no-repeat;
    display: block;
    height: 33px;
    width: 33px;
}
.minus-btn{
    background-position:-130px -41px;
}
/* sortable list */
.list-group.sortable li.list-group-item .minus-btn,
.list-group.sortable li.list-group-item .plus-btn{
    margin-top:5px;
}
.list-group.sortable li.list-group-item{
    padding:0;
    line-height:40px;
    border-left:0;
    border-right:0;
}
.list-group.sortable li.list-group-item:first-child{
    border-top:0;
}
/* global styles */
hr.no-border{
    margin-top: 0;
    margin-bottom: 0;
}
hr.black{
    border-top:1px solid black;
}
#global-flexible-wrapper{
    min-width:960px;
    min-height:900px;
    max-width:1300px;
    margin:0 auto;
    position:relative;
    padding-bottom:210px;
    width:96%;
}
#header-navbar-menu{
    background-color:#343434;
    height:40px !important;
}
.navbar-default #header-navbar-menu .navbar-nav > li > a {
    color: #FFF;
    padding: 10px 30px;
    border-width: 0px 1px;
    border-color: #b6b6b6;
    border-style: solid;
}
.navbar-default #header-navbar-menu .navbar-nav.navbar-right > li:last-child > a {
    border-width: 0px 0px 0px 1px;
}
#sam-navbar.navbar-default{
    background-color:transparent;
    border:none;
}
#sam-navbar .navbar-brand{
    background:url('../img/sprite.png') 0 0 transparent no-repeat;
    display:block;
    height:40px;
    width:120px;
}
#sam-navbar .dropdown-menu > li > a{
    text-align: left;
}
#application-navbar{
    background-color:white;
    margin-top:16px;
    width: 100%;
}
#application-navbar .navbar.navbar-default{
    background-color:white;
    border-bottom:1px solid #c8c8c8;
    height:55px;
    margin:0 auto;
}
#application-navbar .navbar-brand{
    font-weight:bold;
    height: 55px;
    padding:15px 25px 15px 0;
    width:15%;
}
#application-navbar .navbar-brand a{
    font-size:23px;
    line-height: 25px;
    text-decoration:none;
    color:#343434;
}
#application-navbar .navbar-header{
    width:84%;
}
#application-navbar .navbar-header > ul > li > a{
    font-size:14px;
    height: 55px;
    line-height: 25px;
    padding: 15px 25px;
}
#application-navbar .navbar-header > ul > li.active > a{
    background-color: #FFF;
    color: #F60;
    border-bottom: 2px solid #F60;
}
.breadcrumb{
    background-color: #FFF;
    height: 60px;
    margin-bottom: 0;
    padding: 0 0 0 20px;
    line-height: 40px;
}
#footer-bg,
#header-bg{
    background-color:#343434;
    height:40px;
    position:absolute;
    width:100%;
}
#header-bg{
    top:0;
    left:0;
}
.navbar {
    border:0;
    margin-bottom:0;
    min-height: 0;
}
.navbar-default .navbar-nav > .open > a.dropdown-toggle{
    background-color:#007e8d;
    color:white;
}
.nav > li {
    position: relative;
    display: inline-block;
}
.dropdown-menu > li > a.danger:hover, .dropdown-menu > li > a.danger:focus {
    background-color:#d2322d;
}
.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    vertical-align:middle;
}
#main-container{
    background-color: #FFF;
    min-height: 580px;
    padding-bottom: 150px;
    width: 100%;
}
#security-login-form{
    margin-top:150px;
}
#left-menu{
    padding-top: 25px;
}
.collection-container .input-group{
    margin-bottom:10px;
}
/* footer */
#footer-bg,
#main-footer{
    background-color:#343434;
    height:210px;
    padding-top:20px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
#main-footer > hr{
    border-color:#4f4f4f;
}
#main-footer > div.clearfix > div > div {
    border-right:1px solid white;
    height:130px;
    padding-left:30px;
    padding-right:30px;
}
#main-footer > div.clearfix > div > div:last-child{
    border:none;
}
#main-footer a.link{
    color:white;
    font-size:12px;
    text-decoration:underline;
}
#main-footer .section-title{
    font-size:14px;
    color:white;
}
#main-footer .question-sign{
    font-size:15px;
    font-weight:bold;
}
a.logo,
span.logo,
a.icons{
    background-image:url('../img/sprite.png');
    display:block;
}
span.logo.canaltp{
    background-position:-6px 85px;
    height:60px;
    width:115px;
}
.icons-wrapper{
    margin-top:15px;
}
#main-footer a.icons{
    background-position: 0px 208px;
    float:left;
    height: 32px;
    margin-right:12px;
    width: 32px;
}
#main-footer a.icons.viadeo{
    background-position: -34px 208px;
}
#main-footer a.icons.linkedin{
    background-position: -64px 208px;
}
a.logo.navitia{
    background-position: 0px 170px;
    float:left;
    width:70px;
    height:83px;
}
.sf-toolbar{
    position:fixed;
}
/* left menu */
#left-menu{
    border-bottom: 1px solid #E7E7E7;
    font-size:12px;
    margin-bottom:50px;
    width:100%;
    padding:0;
    overflow-y: auto;
}
#left-menu .nav > li{
    display:block;
    margin-top:0;
}
#left-menu .nav > li.mode-wrapper > a{
    border-top:1px solid #66b2bb;
    background-color:#007e8d;
    color:white;
    text-transform:uppercase;
    padding: 11px 15px 11px 35px;
    position:relative;
}
/* modes icons placement */
#left-menu .nav > li.mode-wrapper > a span.mode-icon{
    position:absolute;
    left:5px;
    top:5px;
}
#left-menu .nav > li.mode-wrapper > a.collapsed{
    border-top:1px solid #aeaeae;
    background-color:#343434;
}
#lines-accordion .line-menu-wrapper a{
    border-radius: 0;
    color:#343434;
    padding: 10px 5px;
}
span.line-code{
    background-color: #343434;
    color: #FFF;
    font-weight:bold;
    padding: 3px;
    border-radius: 2px;
}
#lines-accordion .line-menu-wrapper li:not(:last-child){
    border-bottom:1px solid #e7e7e7;
}
#lines-accordion .line-menu-wrapper{
}
#lines-accordion .line-menu-wrapper ul{
    margin-top: -1px;
    margin-left: 30px;
}
#lines-accordion .line-menu-wrapper{
    border:1px solid #e7e7e7;
    border-bottom:0;
}
#lines-accordion .line-menu-wrapper.active{
    border:0;
}
#lines-accordion .line-menu-wrapper:last-child{
    border-bottom:none;
}
#lines-accordion .line-menu-wrapper li a{
    border-left:1px solid #c8c8c8;
}
#lines-accordion li.active > a{
    border-left:2px solid #007e8d;
    background-color:#e0eff1;
    font-weight:bold;
    color:black;
}
#lines-accordion .line-menu-wrapper li a span{
    font-size:9px;
    color:black;
}
#lines-accordion .line-menu-wrapper li.active a span{
    color:#007e8d;
}
/* left menu toggable */
#left-menu.toggable-left-menu{
    overflow-y:visible;
}
#left-menu.toggable-left-menu .toggle-button{
    height:100%;
}
#left-menu.toggable-left-menu{
    background-color: white;
    left: -300px;
    position: fixed;
    z-index: 200;
    top: 56px;
    width:300px;
}
#left-menu.toggable-left-menu .submenu-wrapper{
    position:relative;
    overflow-y:scroll;
}
#left-menu.toggable-left-menu .toggle-button{
    background-color: #777777;
    color:white;
    cursor:pointer;
    font-size: 20px;
    height: 100%;
    width: 20px;
    position: absolute;
    right: -20px;
    top: 0;
}
#left-menu.toggable-left-menu .toggle-button:hover{
    background-color: black;
}
#left-menu.toggable-left-menu .toggle-button span{
    position:absolute;
    top:50%;
    margin-top:-10px;
}
#left-menu.toggable-left-menu ul.back-btn-wrapper{
    border-bottom:1px solid black;
}

img.logo-customer-small {
    width: 25px;
    height: 25px;
}

img.logo-customer-medium {
    width: 100px;
    height: 100px;
}

.tablesorter-headerUnSorted .tablesorter-header-inner {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
}

.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
}

.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
}

/* Css for user form */
li.craue_formflow_current_step {
    font-weight: bold;
}

/* fixed characters not visible in a password field on IE8/XP */
.ie8 input {
    font-family: Arial;
}
